@model IEnumerable<WoWDB_Web.Models.Character>

@{
    ViewBag.Title = "Characters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Characters</h2>

@if (!Model.Any())
{
    <p>There are no characters as of now.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Character</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in Model)
            {
                <tr>
                    <td>@Html.ActionLink(character.Name, "Details", "Characters", new { id = character.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}